*{
  box-sizing:border-box;
  font-family:'Segoe UI',Arial;
}

body{
  margin:0;
  padding:15px;
  background:#0e0e0e;
  color:#f1f1f1;
  text-align:center;
}

/* العناوين */
h1,h2,h3{
  color:#8fae3c; /* أخضر زيتوني */
}

/* الأزرار */
button,.btn{
  background:#8fae3c;
  color:#0e0e0e;
  border:none;
  padding:14px;
  border-radius:14px;
  font-size:16px;
  font-weight:bold;
  cursor:pointer;
  transition:.3s;
  width:100%;
}

button:hover,.btn:hover{
  background:#6f8f2e;
}

/* المنتجات */
.products{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
  gap:18px;
}

.product{
  background:#161616;
  padding:18px;
  border-radius:18px;
  box-shadow:0 10px 25px rgba(0,0,0,.6);
}

.product img{
  width:100%;
  max-width:220px;
  border-radius:12px;
  margin-bottom:10px;
}

/* الحقول */
input,select,textarea{
  width:100%;
  padding:14px;
  margin:8px 0;
  border-radius:12px;
  border:none;
  font-size:15px;
  background:#222;
  color:#fff;
}

/* زر السلة */
.cart-btn{
  position:fixed;
  top:15px;
  right:15px;
  background:#8fae3c;
  color:#000;
  padding:10px 16px;
  border-radius:30px;
  text-decoration:none;
  font-weight:bold;
}

/* موبايل */
@media(max-width:600px){
  body{padding:10px}
  }
